.padre{
    background-color: #00008e;
}

.subhijo1{
    height: 100px;
    width: 100px;
    background-color: #5c12a6;
}

.subhijo2{
    background-color: #d49e0a;
    height: 50px;
    width: 50px;
}

.hijo{
    background-color: #d49e0a;
    height: 200px;
}

.hijo .subhijo3{
    background-color: #82008e;
    height: 100px;
}
.hijo .subhijo4{
    height: 50px;
    background-color: #008e79;
}