div{
    background-color: #1d3678;
}

.dv1 div {
    height: 120px;
    width: 110px;
    background-color: #f3b15c;
}

.dv1 div div {
    height: 50px;
    width: 50px;
    background-color: #e9e3a3;        
}


.dv2{
    height: 200px;
    background-color: brown;
}
.dv2 .subdv1{
    height: 100px;
    background-color: #12635b;
}
.dv2 .subdv2{
    height: 70px ;
    background-color: darkmagenta;
} 