div{
    background-color: #59ff00;
    margin: 5px;
}

div  a{
    background-color: #e51919;
}
.dv2 > a{
    background-color: #dbfd00;
    
}

.dv2 div{
    background-color: #e51919; 
    margin: 100px;   
}
